---
import MainLayout from "../../layouts/MainLayout.astro";

const blogPosts = await Astro.glob("../posts/blog/*.mdx");

const blogTags: any = [
    ...new Set(blogPosts.map((post) => post.frontmatter.tags).flat()),
];


const title = "Tag Index";
const pagetitle = "#️⃣ Tag Index";
---

<MainLayout title={title} pagetitle={pagetitle}>
    <div class="flex gap-4">
        {
            blogTags.map((tag: any) => (
                <p class="btn btn-ghost">
                    <a href={`/tags/${tag}`}>{tag}</a>
                </p>
            ))
        }
    </div>
</MainLayout>
