---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Books";
const pagetitle = "📚 Books";
const undertitle = "These are some of the books I've read over the years";
---

<MainLayout pagetitle={pagetitle} title={title} undertitle={undertitle} >
	<main class="lg:px-20 md:px-10">
		<h3 class="text-lg">
			East of Eden <i class="font-thin">⎯ John Steinbeck</i>
		</h3>
		<p>
			My favorite book. I loved the world-building, characters, and their
			struggles.
		</p>
		<br />

		<h3 class="text-lg">
			What We Owe The Future <i class="font-thin">⎯ William Macaskill</i>
		</h3>
		<p>
			A greatly entertaining read into modern philosophy and relevant
			societal challenges.
		</p>
		<br />

		<h3 class="text-lg">
			The Picture of Dorian Gray <i class="font-thin">⎯ Oscar Wilde</i>
		</h3>
		<p>The most mind bending and thought provoking book I've ever read.</p>
		<br />

		<h3 class="text-lg">
			Superinteligence <i class="font-thin">⎯ Nick Bostrom</i>
		</h3>
		<p>
			Thought provoking & scary. Superintelligent AI is a serious
			challenge that not enough people and working on. This is probably
			the book most people should read, but be aware, it can be quite
			challenging to read at times.
		</p>
		<br />

		<h3 class="text-lg">
			Grit <i class="font-thin">⎯ Angela Duckworth</i>
		</h3>
		<p>
			This book shows that practice > talent. Anyone can become anything. <br
			/> (Talent * Effort = Skill) => (Skill * Effort = Achievement)
		</p>
		<br />

		<h3 class="text-lg">
			Moderation in the age of greed <i class="font-thin"
				>⎯ Henrik Syse</i>
		</h3>
		<p>
			Interesting read into moderation, and how by eliminating "the chase"
			of today's society we can achieve greater happiness.
		</p>
		<br />

		<h3 class="text-lg">
			The Strange Case if Dr Jekyll and Mr Hyde <i class="font-thin"
				>⎯ Louis Stevenson</i
			>
		</h3>
		<p>A great read with a flabbergasting ending.</p>
		<br />

		<h3 class="text-lg">
			All Quiet on the Western Front <i class="font-thin"
				>⎯ Erich Maria Remarque</i>
		</h3>
		<p>A quick and captivating read into the horrors of World War 1.</p>
		<br />

		<h3 class="text-lg">
			The Three Body Problem <i class="font-thin">⎯ Liu Cixin</i>
		</h3>
		<p>A mind-bending exploration of the limits of physics and extraterrestrial life.</p>
		<br />

		<h3 class="text-lg">
			The Martian <i class="font-thin">⎯ Andy Weir</i>
		</h3>
		<p>One of the most fun books I've ever read.</p>
		<br />

		<h3 class="text-lg">
			The Book of Disquiet <i class="font-thin">⎯ Fernando Pessoa</i>
		</h3>
		<p>
			A strange and facinating look into the mind of portugal's greatest
			writers.
		</p>
		<br />

		<h3 class="text-lg">
			The Beginning of Infinity <i class="font-thin">⎯ David Deutsch</i>
		</h3>
		<p>A profound and new way of thinking about knowledge and progress. Humans are the fate of the stars.</p>
		<br />

		<h3 class="text-lg">
			Deep Utopia <i class="font-thin">⎯ Nick Bostrom</i>
		</h3>
		<p>Learned a suprising amount of economic systems from this book. Nick Bostrom yet again delivers a new way of thinking that will change the future.</p>
		<br />

		<h3 class="text-lg">
			Of Mice and Men <i class="font-thin">⎯ John Steinbeck</i>
		</h3>
		<p>A heartbreaking tale of friendship and hardship during the Great Depression.</p>
		<br />

		<h3 class="text-lg">
			1984 <i class="font-thin">⎯ George Orwell</i>
		</h3>
		<p>Overrated.</p>
		<br />

		<h3 class="text-lg">
			Animal Farm <i class="font-thin">⎯ George Orwell</i>
		</h3>
		<p>A fun criticism of socialism.</p>
		<br />

		<h3 class="text-lg">
			The Woman in the Dunes <i class="font-thin">⎯ Kobo Abe</i>
		</h3>
		<p>A haunting story will unique world building.</p>
		<br />

		<h3 class="text-lg">
			Dune <i class="font-thin">⎯ Frank Herbert</i>
		</h3>
		<p>Better world building doesn't exist.</p>
		<br />

		<h3 class="text-lg">
			The Art of War <i class="font-thin">⎯ Sun Tzu</i>
		</h3>
		<p>A timeless treatise on strategy and warfare.</p>
		<br />

		<h3 class="text-lg">
			Crime and Punishment <i class="font-thin">⎯ Fyodor Dostoevsky</i>
		</h3>
		<p>An intense psychological exploration of guilt.</p>
		<br />

		<h3 class="text-lg">
			Solaris <i class="font-thin">⎯ Stanislaw Lem</i>
		</h3>
		<p>An interesting take on aliens, didn't enjoy the book a lot.</p>
		<br />

		<h3 class="text-lg">
			Fahrenheit 451 <i class="font-thin">⎯ Ray Bradbury</i>
		</h3>
		<p>A really boring book.</p>
		<br />

		<h3 class="text-lg">
			Sapiens <i class="font-thin">⎯ Yuval Noah Harari</i>
		</h3>
		<p>Did not enjoy this.</p>
		<br />

		<h3 class="text-lg">
			12 Rules for Life <i class="font-thin">⎯ Jordan Peterson</i>
		</h3>
		<p>Peterson, the man of a thousand words, yet only a few ideas.</p>
		<br />

		<h3 class="text-lg">
			The Republic <i class="font-thin">⎯ Plato</i>
		</h3>
		<p>Fun to have read, will never read again.</p>
		<br />

		<h3 class="text-lg">
			Zero To One <i class="font-thin">⎯ Peter Thiel</i>
		</h3>
		<p>
			Might be worth the read if you want to start a TOP500 company, but
			I've nothing good to say about it.
		</p>
		<br />

		<center><p><i class="font-thin">( and more )</i></p></center>
		<br />

	</main>
</MainLayout>
