---
import NavbarComputer from "./NavbarComputer.astro";
import NavbarMobile from "./NavbarMobile.svelte";
---

<div class="fixed w-full z-40 ">
  <div class="max-lg:hidden z-20">
    <NavbarComputer />
  </div>
  <div class="lg:hidden">
    <NavbarMobile client:load/>
  </div>
</div>