---
import Logo from '../static/NGB-logo.svg'
---

<div class="navbar bg-base-100 px-10">
  <div class="flex-1">
    <a href="/"><img src={Logo} alt="" class="w-14"></a>
  </div>
  <div class="flex">
    <ul class="flex px-1 gap-16">
      <li><a href="/portfolio" class="text-gray-300 hover:text-white transition-all">Portfolio</a></li>
      <li><a href="/class-notes" class="text-gray-300 hover:text-white transition-all">Class Notes</a></li>
      <li><a href="/blog" class="text-gray-300 hover:text-white transition-all">Blog</a></li>
      <li><a href="/books" class="text-gray-300 hover:text-white transition-all">Books</a></li>
      <li><a href="/about" class="text-gray-300 hover:text-white transition-all">About</a></li>
    </ul>
  </div>
</div>

<style>
  .navbar {
    margin: auto;
    max-width: 1140px;
    justify-content: space-between;
  }

</style>