---
const { title, undertitle } = Astro.props
---

<div class="">
    <h1 class="text-4xl font-bold pb-1">{title}</h1>
    <h3 class="text-gray-400 text-xl font-light flex-wrap">{undertitle}</h3>
</div>