---
const { title, undertitle } = Astro.props
---

<div class="p-5 lg:w-[70vw] lg:pl-[20vw] flex flex-col justify-center pt-10">
    <h1 class="text-4xl font-semibold pb-1">{title}</h1>
    <h3>{undertitle}</h3>
</div>