---
import MainLayout from "./MainLayout.astro";
const { frontmatter } = Astro.props;
---
<MainLayout>
    <div class="flex justify-center pb-16 ">
        <div class="flex flex-col lg:px-20 max-w-[1140px] max-lg:w-screen max-lg:px-5">
            <div>
                <h1 class="text-5xl font-bold">{frontmatter.title}</h1>
                <p class="text-lg py-5">{frontmatter.description}</p>
            </div>
            <div>
                <img src={`/static/${frontmatter.image}`} alt="">
            </div>
            <div class="self-center">
                <div class="flex gap-10 sm:pl-10 max-sm:pl-4 items-center py-10">
                    <a href="/about" class="hover:scale-105 transition-all">
                        <img src="/static/pp.jpg" class="mask mask-squircle w-16">
                    </a>
                    <div>
                        <a href="/about" class="hover:underline underline-offset-2 ">
                            <p class="pb-1">Nikolai Grytvik Borbe</p>
                        </a>
                        <hr >
                        <p><i>Written: {frontmatter.pubDate.slice(0, 10)}</i></p>
                    </div>
                </div>
                <div class="prose max-w-none ">
                    <slot />
                </div>
            </div>
        </div>
    </div>
</MainLayout>