---
import Navbar from "../components/Navbar.astro";
import '../styles/glob.css'
const { pagetitle } = Astro.props
---

<!DOCTYPE html>

<html lang="en" id="html" data-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <title>{pagetitle}</title>
</head>
<body>
    <div class="m-auto">
        <Navbar />
        <div class="px-[10px] pt-52 flex justify-center">
            <div>
                <slot />
            </div>
        </div>
        <a class="max-sm:hidden fixed bottom-5 right-5 w-10" href="https://github.com/Nikolai-Grytvik-Borbe">
            <img class="hover:scale-105" src="$/public/static/github_logo.png" alt="GITHUB">
        </a>
    </div>
</body>
</html>