---
import Navbar from "../components/Navbar.astro";
import Title from "../components/Title.astro";

const { pagetitle, title, undertitle } = Astro.props
---

<!DOCTYPE html>

<html lang="en" id="html" data-theme="dark">

    <script>
        let el: any = document.getElementById("theme-switch")
        let doc: any = document.getElementById("html")

        el.addEventListener("mousedown", () => {
            let theme = doc.getAttribute("data-theme")
            doc.setAttribute("data-theme", theme == "light" ? "dark" : "light")
        })
    </script>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.15.2/dist/katex.min.css" integrity="sha384-MlJdn/WNKDGXveldHDdyRP1R4CTHr3FeuDNfhsLPYrq2t0UBkUdK2jyTnXPEK1NQ" crossorigin="anonymous">
    <title>{pagetitle}</title>
</head>
<body>
    <Navbar />
    <Title title={title} undertitle={undertitle} />
    <div class="flex justify-center">
        <div>
            <slot />
        </div>
    </div>
</body>
</html>

